<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - database error</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <% include('partials/navbar', {page: ''}) %>

    <div class="container mx-auto py-8">
        <div class="hero">
            <h1 class="text-4xl">500 - database error</h1>
            <p class="text-lg"><%= message %></p>
        </div>
    </div>
</body>
</html>
