<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl"
          >Lego Collection</a
        >
      </div>
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100">
                <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                <li><a href="/lego/sets?theme=Icons">Icons</a></li>
                <li><a href="/lego/sets?theme=Books">Books</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                <li><a href="/lego/sets?theme=Icons">Icons</a></li>
                <li><a href="/lego/sets?theme=Books">Books</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <div class="container mx-auto">
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome to Lego Collection</h1>
            <p class="py-6">
              Explore the vast world of Lego sets and discover your next build!
            </p>
            <a href="/lego/sets" class="btn btn-primary">Explore Sets</a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Card 1 -->
        <div class="card w-full bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/sets/002253963-1.jpg"
              alt="Legend of Chima"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Legend of Chima</h2>
            <p>
                The LEGO Legends of Chima series features mythic animal tribes, including raven and gorilla characters, in sets rich with action and lore. The intricate sets include detailed minifigures of ravens (corbeaux) and gorillas (gorilles), along with elaborate vehicles and structures, designed for immersive play and storytelling.
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/002253963-1" class="btn btn-primary">View Set</a>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="card w-full bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/sets/0241357594-1.jpg"
              alt="Star Wars: Build Your Own Adventure: Galactic Missions"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Star Wars: Build Your Own Adventure: Galactic Missions</h2>
            <p>
                "Star Wars: Build Your Own Adventure: Galactic Missions" is a LEGO and storybook combo that engages fans in immersive storytelling and building. It includes LEGO pieces and instructions to create models related to the Star Wars universe, encouraging readers to embark on their own intergalactic missions through imaginative play and construction.
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/0241357594-1" class="btn btn-primary">View Set</a>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="card w-full bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/sets/0241187567-1.jpg"
              alt="Ninjago: Build Your Own Adventure"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Ninjago: Build Your Own Adventure</h2>
            <p>
                "Ninjago: Build Your Own Adventure" is part of the LEGO Build Your Own Adventure series that combines engaging storytelling with the creativity of LEGO building. This book set includes a Ninjago-themed story filled with exciting quests and challenges for the characters, along with LEGO bricks to build specific models related to the story. 
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/0241187567-1" class="btn btn-primary"
                >View Set</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>